
<div class="section" id="cv">

	<header role="banner">
		<div class="container_16">
			<div class="title">
				<h1>Josselin DORSO</h1>
				<h2>Ingénieur Génie Logiciel</h2>
				<div class="download">
					<a href="assets/CV.pdf" target="_blank"><button type="button" class="btn btn-primary bg-primary"><i class="fa fa-download"></i> Télécharger</button></a>
				</div>
			</div>
			<figure>
				<img src="assets/images/photo.JPG" alt="Josselin DORSO">
			</figure>
		</div>
	</header>

	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		<div class="grid_16">
			<!-- A propos -->
			<div class="grid_8 apropos">
				<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
				<h3>A propos</h3>
				<p> Diplômé d'école d'ingénieur généraliste. Je me suis spécialisé dans le développement informatique.</p>
				<p class="domainList"> Voici mes domaines : </p>
				<ul>
					<li> <b>Analyse</b> : Analyse des besoins, Spécification, Conception </li>
					<li> <b>Réalisation</b> : Développement de l'application </li>
					<li> <b>Validation</b> : Tests Unitaires, d'Intégration et de Validation </li>
				</ul>

				<p> Les challenges, le travail en équipe ainsi que les résultats sont les mots clefs de ma motivation. </p>
			</div>

			<!-- Compétences -->
			<div class="grid_8 competences">
				<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
				<h3>Langages</h3>
				<img src="assets/images/Diagramme.svg"/>
			</div>
		</div>

		<!-- Expériences -->
		<div class="grid_16 experiences">
			<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
			<h3>Expériences (14 mois)</h3>
			<ul>
				<li>
					<h4><strong>Développeur Java EE</strong><span style="float:right;">Thales Communications & Security</span></h4>
					<span class="lieu">Cholet, <b>France</b></span>
					<span class="dates">Sept 2017 - Mars 2018</span>
					<p>Preuve de concept sur la programmation orientée aspect dans l’environnement
						Java EE dans le but de faciliter les phases de test.</p>
				</li>
				<li>
					<h4><strong>Développeur Web</strong><span style="float:right;">SNOC</span></h4>
					<span class="lieu">Angers, <b>France</b></span>
					<span class="dates">Mars - Juin 2017</span>
					<p>Développement d’une application mobile PhoneGap permettant la
						configuration d’un objet connecté détecteur de défaut.</p>
				</li>
				<li>
					<h4><strong>Stage technique</strong><span style="float:right;">Sercomm</span></h4>
					<span class="lieu">Taipei, <b>Taiwan</b></span>
					<span class="dates">Juin - Août 2016</span>
					<p>Configuration de jeux de test JMeter destinés au développement
						d’une solution de domotique.</p>
				</li>
				<li>
					<h4><strong>Stage de découverte</strong><span style="float:right;">Sapura Thales Electronics</span></h4>
					<span class="lieu">Kuala Lumpur, <b>Malaisie</b></span>
					<span class="dates">Juil - Août 2014</span>
					<p>Découverte des pôles R&D, Production et Communication de l’entreprise.</p>
				</li>
			</ul>
		</div>

		<!-- Projets -->
		<div class="grid_16 experiences">
			<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
			<h3>Projets</h3>
			<ul>
				<li>
					<h4><strong>Développeur Android - Projet de fin d’études</strong><span style="float:right;">ESEO</span></h4>
					<span class="lieu">Angers, <b>France</b></span>
					<span class="dates">Oct -Fév 2017</span>
					<p>Élaboration d’un prototype d’application Android permettant le
						contrôle d’une tablette à l’aide de la reconnaissance vocale.</p>
				</li>
				<li>
					<h4><strong>Développeur C - Projet PROSE</strong><span style="float:right;">ESEO & Qowisio</span></h4>
					<span class="lieu">Angers, <b>France</b></span>
					<span class="dates">Fév - Mai 2016</span>
					<p>Réalisation en langage C de l’automatisation de flashage d’objets
						connectés à l’aide de Raspberry Pi.</p>
				</li>
			</ul>
		</div>

		<!-- Formations -->
		<div class="grid_16 formations">
			<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
			<h3>Formation</h3>
			<ul>
				<li>
					<h4><strong>Diplôme d’ingénieur</strong><small> option Système Embarqué</small><span style="float:right;">ESEO</span></h4>
					<span class="lieu">Angers, <b>France</b></span>
					<span class="dates">2018</span>
					<p>Compétences acquises ou améliorées : management de projet en
						groupe (calendrier, deadlines, gestion d’équipe,..), compétences
						techniques et théoriques d’ingénieur en informatique.</p>
				</li>
				<li>
					<h4><strong>Baccalauréat Scientifique</strong><small> option Sciences de l'Ingénieur</small><span style="float:right;">Lycée G. Monge</span></h4>
					<span class="lieu">Nantes, <b>France</b></span>
					<span class="dates">2011</span>
					<p></p>
				</li>
			</ul>
		</div>

		<!-- Loisirs -->
		<div class="grid_8 loisirs">
			<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
			<h3>Loisirs</h3>
			<p><strong>Sports :</strong> Basket-ball, Ski, Tennis de table</p>
			<p><strong>Longs voyages :</strong> Allemagne, Malaisie, Taiwan</p>
			<p>Films/séries, jeux-vidéo, voyages à l’étranger et découvertes de nouvelles
				cultures.</p>
			<p>Responsable Basket-ball au club du BDS de l’ESEO en 2015-2016.</p>
		</div>

		<!-- Contact -->
		<div class="grid_8 contact">
			<span class="dot" data-aos="zoom-in" data-aos-offset="50" data-aos-duration="500"></span>
			<h3>Contact</h3>
			<p>Si mon profil vous intéresse, n'hésitez pas à me contacter :</p>
			<ul>
				<li class="lieu">Nantes, France</li>
				<li class="phone">+33 (0)6 47 52 97 71</li>
				<li class="mail"><a href="mailto:dorso.josselin@gmail.com">dorso.josselin@gmail.com</a></li>
				<li class="site"><a href="http://www.mon-site.fr/">www.mon-site.fr</a></li>
			</ul>
		</div>
	</section>


</div>
