


<!---------- HEADER ---------->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom bg-primary">

	<a class="navbar-brand" href="/"><i class="fa fa-home"></i> Josselin Dorso</a>
	<button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navigation" [ngbCollapse]="isCollapsed">

		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/cv"><i class="fa fa-file-text-o"></i> CV</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/career"><i class="fa fa-line-chart"></i> Parcours</a>
			</li>
			<!--
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/contact"><i class="fa fa-envelope-o"></i> Contact</a>
			</li>
			-->
		</ul>

		<div class="navbar-expand ml-auto navbar-nav">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="https://www.linkedin.com/in/josselin-dorso/" target="_blank">
					<i class="fa fa-linkedin fa-2x bg-icon"></i>
				</a>
			</div>
		</div>

	</div>



</nav>



<!---------- BODY ---------->

<router-outlet></router-outlet>


<!---------- FOOTER ---------->

<nav class="navbar navbar-dark navbar-custom bg-primary mt-5 fixed-bottom">
	<div class="navbar-expand m-auto navbar-text">
		<p></p>
	</div>
</nav>




