<div class="section" id="career">
	<div class="container cc-experience">
		<div class="h4 text-center mb-4 title">Expériences (14 mois)</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="https://www.thalesgroup.com/fr" target="_blank">
						<div class="card-body cc-experience-header">
							<p>Sept 2017 - Mars 2018</p>
							<div class="h5">Thales Communications & Security</div>
							<p>Cholet, France</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Développeur Java EE</div>
						<p>Preuve de concept sur la programmation orientée aspect dans l’environnement Java EE dans le but de faciliter les phases de test.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="https://snoc.fr/" target="_blank">
						<div class="card-body cc-experience-header">
							<p>Mars - Juin 2017</p>
							<div class="h5">SNOC</div>
							<p>Angers, France</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Développeur Web</div>
						<p>Développement d’une application mobile PhoneGap permettant la
							configuration d’un objet connecté détecteur de défaut.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="http://www.sercomm.com/home.aspx" target="_blank">
						<div class="card-body cc-experience-header">
							<p>Juin - Août 2016</p>
							<div class="h5">Sercomm</div>
							<p>Taipei, Taiwan</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Stage technique</div>
						<p>Configuration de jeux de test JMeter destinés au développement
							d’une solution de domotique.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="http://www.ste.com.my/" target="_blank">
						<div class="card-body cc-experience-header">
							<p>Juil - Août 2014</p>
							<div class="h5">Sapura Thales Electronics</div>
							<p>Kuala Lumpur, Malaisie</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Stage de découverte</div>
						<p>Découverte des pôles R&D, Production et Communication de l’entreprise.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="section" id="experience">
	<div class="container cc-experience">
		<div class="h4 text-center mb-4 title">Projets</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="https://www.eseo.fr/" target="_blank">
						<div class="card-body cc-experience-header">
							<p>Oct - Fév 2017</p>
							<div class="h5">Projet de fin d'études<br>ESEO</div>
							<p>Angers, France</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Développeur Android</div>
						<p>Élaboration d’un prototype d’application permettant le contrôle d’une tablette à l’aide de la reconnaissance vocale.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="https://www.qowisio.com/" target="_blank">
						<div class="card-body cc-experience-header">
							<p>Fév - Mai 2016</p>
							<div class="h5">Projet PROSE<br>ESEO/Qowisio</div>
							<p>Angers, France</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Développeur C</div>
						<p>Réalisation en langage C de l’automatisation de flashage d’objets
							connectés à l’aide de Raspberry Pi.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>



<div class="section">
	<div class="container cc-education">
		<div class="h4 text-center mb-4 title">Formation</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="https://www.eseo.fr/" target="_blank">
						<div class="card-body cc-education-header">
							<p>2018</p>
							<div class="h5">Ingénieur</div>
							<p>Angers, France</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Diplôme d'ingénieur (option Système Embarqué)</div>
						<p class="category">ESEO</p>
						<p>Compétences acquises ou améliorées : management de projet en groupe (calendrier,
							deadlines, gestion d’équipe,..), compétences techniques et théoriques d’ingénieur
							en informatique.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<a href="http://monge.paysdelaloire.e-lyco.fr/" target="_blank">
						<div class="card-body cc-education-header">
							<p>2011</p>
							<div class="h5">Baccalauréat</div>
							<p>Nantes, France</p>
						</div>
					</a>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Baccalauréat Scientifique (option Sciences de l’Ingénieur)</div>
						<p class="category">Lycée G. Monge</p>
						<p></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="end"></div>
